<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
  <section class="container">
    <div id="carousel">
      <% @products.each do |product| %>
        <figure><%= product.name %></figure>
      <% end %>
    </div>
  </section>
  <section id="options">
    <p>
      <label for="panel-count">panels</label>
      <input type="range" id="panel-count" value="4" min="3" max="20" />
    </p>
    <p id="navigation">
      <button id="previous" data-increment="-1">Previous</button>
      <button id="next" data-increment="1">Next</button>
    </p>
    <p>
      <button id="toggle-axis">Toggle Carousel Axis</button>
    </p>
    <p>
      <button id="toggle-backface-visibility">Toggle Backface Visibility</button>
    </p>
  </section>
